.about-us-container {
    display: flex;
    justify-content: space-between;
  }
  
  .about-us-content {
    width: 50%;
    padding: 20px;
    height: fit-content;
  }
  
  .about-us-image {
    width: 45%;
    height: 400px; /* Ajusta la altura según tu necesidad */
    background-size: cover;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  .social-icon {
    font-size: 24px; /* Cambia el tamaño de los iconos */
    color: #8a63d2; /* Cambia el color de los iconos */
  }